<!DOCTYPE html>
<html>
<head>
  <title>Books module</title>
  <%= stylesheet_link_tag    "books_module/application", media: "all" %>
  <%= javascript_include_tag "books_module/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
